# Glassdoor Pret A Manger Reviews

In [1]:
import pandas as pd

#numerical library for python
import numpy as np

#headless browser
# go to anaconda prompt and enter: pip install selenium
from selenium import webdriver

#allow functionality to send text to a website


from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
#make pc not do anything for certain amount of time
from time import sleep

#datetime package
from datetime import datetime

import numpy as np

In [2]:
pwd

'C:\\Users\\nirun\\Desktop\\Data Science\\Personal Project'

In [3]:
#create a robot
driver = webdriver.Chrome(executable_path='C:\\Users\\nirun\\Desktop\\Data Science\\chromedriver.exe')

In [4]:
#create dictionary to store information

glassdoor_dict = {
    'date': [],
    'author': [],
    'star': [],
    'subject': [],
    'tenure': [],
    'comments': [],    
    'overview': [],

    #'outlook': [],
    #'ceo': [],
    #'description' : []
}

## Use driver to open webpage

In [5]:
stem_template_url = 'https://www.glassdoor.co.uk/profile/login_input.htm?userOriginHook=HEADER_SIGNIN_LINK'

driver.get(stem_template_url)

## Sign in to webpage using credentials

In [6]:

email_click = driver.find_element_by_class_name('css-q444d9')
email_click.click()

sleep(1)

email_box = driver.find_element_by_class_name('css-80r8uf')
email_box.send_keys("niru.cheliyan@gmail.com")

password_box = driver.find_element_by_xpath('//*[@id="userPassword"]')
password_box.send_keys("scrape1234")

sign_in = driver.find_element_by_class_name('minWidthBtn')
sign_in.click()

sleep(3)

## Scrapping

In [7]:
stem_template_url = 'https://www.glassdoor.co.uk/Reviews/Costa-Reviews-E300420_P'
end_template_url = '.htm'

#


# define an empty conrtainer
output_list = []

wait = WebDriverWait(driver, 10)

for i in range(1, 71):
    url = stem_template_url + str(i) + end_template_url
    #print(url)
    #go to webpage
    #url = 'https://www.glassdoor.co.uk/Reviews/Pret-A-Manger-Reviews-E13199.htm'
    driver.get(url)
    
    #cookies_accept = driver.find_element_by_xpath("//*[@id='_evidon-accept-button']")
    #cookies_accept.click()
    
    # Sleep to allow page to load
    sleep(2)

    review_container = driver.find_elements_by_class_name('hreview')

    
    for review in review_container:
        
        glassdoor_dict = {}
        
        date = review.find_element_by_class_name('date').text
        author = review.find_element_by_class_name('author').text
        star = review.find_element_by_class_name('value-title').get_attribute("title")
        subject = review.find_element_by_class_name('summary').text
        tenure = review.find_element_by_class_name('mainText').text
        comments = review.find_element_by_class_name('col-sm-11').text
                                
        #description = review.find_element_by_class_name('description').text
        try:
            overview = review.find_element_by_class_name('reviewBodyCell').text
        except:
            overview = 'No Data'
        try:
            advice = review.find_element_by_class_name(' adviceMgmt').text
        except:
            advice = 'Not available'
            
        glassdoor_dict['date'] = date 
        glassdoor_dict['author'] = author
        glassdoor_dict['star'] = star
        glassdoor_dict['subject'] = subject
        glassdoor_dict['tenure'] = tenure
        glassdoor_dict['comments'] = comments
        glassdoor_dict['overview'] = overview
       
    
        # Look at one
        
        try:
        
            section_rating = review.find_element_by_class_name("stars__StarsStyles__gdStars")

            rating_info = section_rating.find_element_by_class_name("stars__StarsStyles__subRatings").find_element_by_class_name("undecorated")

            elem_ratings = rating_info.find_elements_by_tag_name('li')

            for elem in elem_ratings:

                rat_name = elem.find_element_by_class_name('minor').get_attribute('innerText')
                rat_value= elem.find_element_by_class_name("gdRatings").get_attribute('title')

                glassdoor_dict[rat_name] = rat_value
                
        except:
            
            pass
        


        
        
        output_list.append(glassdoor_dict)

In [8]:
df = pd.DataFrame.from_dict(output_list)

In [9]:
df2 = df.copy()

In [10]:
df2.head()

,Career Opportunities,Compensation and Benefits,Culture & Values,Senior Management,Work/Life Balance,author,comments,date,overview,star,subject,tenure
0,NaN,NaN,NaN,NaN,NaN,"Former Employee - Barista in Biggin Hill, England","""Costa""\nFormer Employee - Barista in Biggin H...",10 January 2020,Recommends\nNeutral Outlook\nNo Opinion of CEO,5.0,"""Costa""",I worked at Costa part-time for less than a year
1,NaN,NaN,NaN,NaN,NaN,Current Employee - Barista,"""part time student""\nCurrent Employee - Barist...",21 January 2020,No Data,4.0,"""part time student""",I have been working at Costa part-time
2,4.0,4.0,3.0,3.0,1.0,Current Employee - Assistant Store Manager in ...,"""Some benefits, reasonable pay, long hours""\nC...",18 January 2020,Doesn't Recommend\nPositive Outlook\nNo Opinio...,4.0,"""Some benefits, reasonable pay, long hours""",I have been working at Costa full-time for mor...
3,4.0,4.0,4.0,4.0,4.0,"Former Employee - Barista in Swansea, Wales","""Barista""\nFormer Employee - Barista in Swanse...",18 January 2020,No Data,4.0,"""Barista""",I worked at Costa full-time for more than 8 years
4,5.0,4.0,4.0,2.0,2.0,"Current Employee - Barista in Edinburgh, Scotland","""Rewarding but difficult""\nCurrent Employee - ...",18 January 2020,Recommends\nPositive Outlook\nDisapproves of CEO,4.0,"""Rewarding but difficult""",I have been working at Costa part-time for mor...

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
Career Opportunities         590 non-null object
Compensation and Benefits    585 non-null object
Culture & Values             577 non-null object
Senior Management            576 non-null object
Work/Life Balance            588 non-null object
author                       700 non-null object
comments                     700 non-null object
date                         700 non-null object
overview                     700 non-null object
star                         700 non-null object
subject                      700 non-null object
tenure                       700 non-null object
dtypes: object(12)
memory usage: 65.7+ KB

In [12]:
df2['overview_split'] = df2['comments'].str.split('\n')
df2['pros'] = df2.comments.str.extract('Pros\n(?P<Pros>.*)')
df2['cons'] = df2.comments.str.extract('Cons\n(?P<Pros>.*)')
df2['advice'] = df2.comments.str.extract('Advice to Management\n(?P<Pros>.*)')
df2['location'] = df2.author.str.split('in').str[1].str.split(',').str[0]
df2['member_type'] = df2.author.str.split('-').str[-1].str.split('in').str[0]
df2['employee_status'] = df2['author'].str.split(' - ').str[0]
df2['subject'] = df2.subject.str.replace('"', '')

In [13]:
df2.head()

,Career Opportunities,Compensation and Benefits,Culture & Values,Senior Management,Work/Life Balance,author,comments,date,overview,star,subject,tenure,overview_split,pros,cons,advice,location,member_type,employee_status
0,NaN,NaN,NaN,NaN,NaN,"Former Employee - Barista in Biggin Hill, England","""Costa""\nFormer Employee - Barista in Biggin H...",10 January 2020,Recommends\nNeutral Outlook\nNo Opinion of CEO,5.0,Costa,I worked at Costa part-time for less than a year,"[""Costa"", Former Employee - Barista in Biggin ...",Amazing coffee that you can sit and enjoy,theres no bad things working here,NaN,Bigg,Barista,Former Employee
1,NaN,NaN,NaN,NaN,NaN,Current Employee - Barista,"""part time student""\nCurrent Employee - Barist...",21 January 2020,No Data,4.0,part time student,I have been working at Costa part-time,"[""part time student"", Current Employee - Baris...",flexible and good pay for students,I can't think of any,NaN,NaN,Barista,Current Employee
2,4.0,4.0,3.0,3.0,1.0,Current Employee - Assistant Store Manager in ...,"""Some benefits, reasonable pay, long hours""\nC...",18 January 2020,Doesn't Recommend\nPositive Outlook\nNo Opinio...,4.0,"Some benefits, reasonable pay, long hours",I have been working at Costa full-time for mor...,"[""Some benefits, reasonable pay, long hours"", ...",Benefits including feel food points and discou...,"Very long hours, too much pressure on staff",NaN,Bath,Assistant Store Manager,Current Employee
3,4.0,4.0,4.0,4.0,4.0,"Former Employee - Barista in Swansea, Wales","""Barista""\nFormer Employee - Barista in Swanse...",18 January 2020,No Data,4.0,Barista,I worked at Costa full-time for more than 8 years,"[""Barista"", Former Employee - Barista in Swans...",Fast oases friendly environment,Sometimes not flexyeven though they say they are,NaN,Swansea,Barista,Former Employee
4,5.0,4.0,4.0,2.0,2.0,"Current Employee - Barista in Edinburgh, Scotland","""Rewarding but difficult""\nCurrent Employee - ...",18 January 2020,Recommends\nPositive Outlook\nDisapproves of CEO,4.0,Rewarding but difficult,I have been working at Costa part-time for mor...,"[""Rewarding but difficult"", Current Employee -...","Great training, progression even when part tim...","Unstaffed, stressful and incredibly drain",NaN,Ed,Barista,Current Employee

In [14]:
def overview_grader(list_of_opinions):
    
    recommended = 'No Data'
    outlook = 'No Data'
    CEO = 'No Data'
    
    # Loop through for recommended
    for word in list_of_opinions:
        
        if word == 'Recommends':
            recommended = True
            break
        elif word == "Doesn't Recommend":
            recommended = False
            break
        else:
            pass
        
    # Loop through for outlook
    for word in list_of_opinions:
        
        if word == 'Positive Outlook':
            outlook = 'positive'
            break
        elif word == "Negative Outlook":
            outlook = 'negative'
            break
        elif word == "Neutral Outlook":
            outlook = 'neutral'
            break
        else:
            pass
        
     # Loop through for ceo
    for word in list_of_opinions:
        
        if word == 'Approves of CEO':
            CEO = 'positive'
            break
        elif word == "Disapproves of CEO":
            CEO = 'negative'
            break
        elif word == "No Opinion of CEO":
            CEO = 'neutral'
            break
        else:
            pass
    
    return recommended, outlook, CEO

In [15]:
df3 = df2.copy()

In [16]:
df3['recommend'], df3['outlook'], df3['ceo'] =  zip(*df3['overview_split'].map(overview_grader))
df3.head()

,Career Opportunities,Compensation and Benefits,Culture & Values,Senior Management,Work/Life Balance,author,comments,date,overview,star,...,overview_split,pros,cons,advice,location,member_type,employee_status,recommend,outlook,ceo
0,NaN,NaN,NaN,NaN,NaN,"Former Employee - Barista in Biggin Hill, England","""Costa""\nFormer Employee - Barista in Biggin H...",10 January 2020,Recommends\nNeutral Outlook\nNo Opinion of CEO,5.0,...,"[""Costa"", Former Employee - Barista in Biggin ...",Amazing coffee that you can sit and enjoy,theres no bad things working here,NaN,Bigg,Barista,Former Employee,True,neutral,neutral
1,NaN,NaN,NaN,NaN,NaN,Current Employee - Barista,"""part time student""\nCurrent Employee - Barist...",21 January 2020,No Data,4.0,...,"[""part time student"", Current Employee - Baris...",flexible and good pay for students,I can't think of any,NaN,NaN,Barista,Current Employee,No Data,No Data,No Data
2,4.0,4.0,3.0,3.0,1.0,Current Employee - Assistant Store Manager in ...,"""Some benefits, reasonable pay, long hours""\nC...",18 January 2020,Doesn't Recommend\nPositive Outlook\nNo Opinio...,4.0,...,"[""Some benefits, reasonable pay, long hours"", ...",Benefits including feel food points and discou...,"Very long hours, too much pressure on staff",NaN,Bath,Assistant Store Manager,Current Employee,False,positive,neutral
3,4.0,4.0,4.0,4.0,4.0,"Former Employee - Barista in Swansea, Wales","""Barista""\nFormer Employee - Barista in Swanse...",18 January 2020,No Data,4.0,...,"[""Barista"", Former Employee - Barista in Swans...",Fast oases friendly environment,Sometimes not flexyeven though they say they are,NaN,Swansea,Barista,Former Employee,No Data,No Data,No Data
4,5.0,4.0,4.0,2.0,2.0,"Current Employee - Barista in Edinburgh, Scotland","""Rewarding but difficult""\nCurrent Employee - ...",18 January 2020,Recommends\nPositive Outlook\nDisapproves of CEO,4.0,...,"[""Rewarding but difficult"", Current Employee -...","Great training, progression even when part tim...","Unstaffed, stressful and incredibly drain",NaN,Ed,Barista,Current Employee,True,positive,negative

In [17]:
df3['date'] = pd.to_datetime(df3.date)
df3 = df3.applymap(lambda x: np.nan if x == 'No Data' else x)
dataset = df3.copy()

In [18]:
del dataset['overview']
#del dataset['description']
del dataset['overview_split']
del dataset['author']

In [19]:
dataset.head()

,Career Opportunities,Compensation and Benefits,Culture & Values,Senior Management,Work/Life Balance,comments,date,star,subject,tenure,pros,cons,advice,location,member_type,employee_status,recommend,outlook,ceo
0,NaN,NaN,NaN,NaN,NaN,"""Costa""\nFormer Employee - Barista in Biggin H...",2020-01-10,5.0,Costa,I worked at Costa part-time for less than a year,Amazing coffee that you can sit and enjoy,theres no bad things working here,NaN,Bigg,Barista,Former Employee,True,neutral,neutral
1,NaN,NaN,NaN,NaN,NaN,"""part time student""\nCurrent Employee - Barist...",2020-01-21,4.0,part time student,I have been working at Costa part-time,flexible and good pay for students,I can't think of any,NaN,NaN,Barista,Current Employee,NaN,NaN,NaN
2,4.0,4.0,3.0,3.0,1.0,"""Some benefits, reasonable pay, long hours""\nC...",2020-01-18,4.0,"Some benefits, reasonable pay, long hours",I have been working at Costa full-time for mor...,Benefits including feel food points and discou...,"Very long hours, too much pressure on staff",NaN,Bath,Assistant Store Manager,Current Employee,False,positive,neutral
3,4.0,4.0,4.0,4.0,4.0,"""Barista""\nFormer Employee - Barista in Swanse...",2020-01-18,4.0,Barista,I worked at Costa full-time for more than 8 years,Fast oases friendly environment,Sometimes not flexyeven though they say they are,NaN,Swansea,Barista,Former Employee,NaN,NaN,NaN
4,5.0,4.0,4.0,2.0,2.0,"""Rewarding but difficult""\nCurrent Employee - ...",2020-01-18,4.0,Rewarding but difficult,I have been working at Costa part-time for mor...,"Great training, progression even when part tim...","Unstaffed, stressful and incredibly drain",NaN,Ed,Barista,Current Employee,True,positive,negative

# Clean table

## Employee member type clean

In [20]:
clean_table = dataset.copy()

In [21]:
employee_title_fix = pd.read_excel('Employee_title_fix.xlsx')
employee_title_fix['merge_column'] = employee_title_fix.Original_entry.astype(str)
clean_table['member_type'] = clean_table.member_type.astype(str)

In [22]:
clean_table = clean_table.merge(employee_title_fix, left_on= 'member_type' , right_on= 'merge_column', how = 'left')
clean_table['clean_member_type'] = clean_table.merge_column.fillna(df2.member_type)
clean_table.head()

,Career Opportunities,Compensation and Benefits,Culture & Values,Senior Management,Work/Life Balance,comments,date,star,subject,tenure,...,location,member_type,employee_status,recommend,outlook,ceo,Original_entry,standard_employee_title,merge_column,clean_member_type
0,NaN,NaN,NaN,NaN,NaN,"""Costa""\nFormer Employee - Barista in Biggin H...",2020-01-10,5.0,Costa,I worked at Costa part-time for less than a year,...,Bigg,Barista,Former Employee,True,neutral,neutral,Barista,Barista,Barista,Barista
1,NaN,NaN,NaN,NaN,NaN,"""part time student""\nCurrent Employee - Barist...",2020-01-21,4.0,part time student,I have been working at Costa part-time,...,NaN,Barista,Current Employee,NaN,NaN,NaN,Barista,Barista,Barista,Barista
2,4.0,4.0,3.0,3.0,1.0,"""Some benefits, reasonable pay, long hours""\nC...",2020-01-18,4.0,"Some benefits, reasonable pay, long hours",I have been working at Costa full-time for mor...,...,Bath,Assistant Store Manager,Current Employee,False,positive,neutral,Assistant Store Manager,Assistant Manager,Assistant Store Manager,Assistant Store Manager
3,4.0,4.0,4.0,4.0,4.0,"""Barista""\nFormer Employee - Barista in Swanse...",2020-01-18,4.0,Barista,I worked at Costa full-time for more than 8 years,...,Swansea,Barista,Former Employee,NaN,NaN,NaN,Barista,Barista,Barista,Barista
4,5.0,4.0,4.0,2.0,2.0,"""Rewarding but difficult""\nCurrent Employee - ...",2020-01-18,4.0,Rewarding but difficult,I have been working at Costa part-time for mor...,...,Ed,Barista,Current Employee,True,positive,negative,Barista,Barista,Barista,Barista

In [23]:
clean_table = clean_table[['date','star','subject','pros','cons','advice','location','clean_member_type','tenure','employee_status','recommend','outlook','ceo','Career Opportunities','Compensation and Benefits','Culture & Values','Senior Management','Work/Life Balance'
                          ]]

clean_table.head()

,date,star,subject,pros,cons,advice,location,clean_member_type,tenure,employee_status,recommend,outlook,ceo,Career Opportunities,Compensation and Benefits,Culture & Values,Senior Management,Work/Life Balance
0,2020-01-10,5.0,Costa,Amazing coffee that you can sit and enjoy,theres no bad things working here,NaN,Bigg,Barista,I worked at Costa part-time for less than a year,Former Employee,True,neutral,neutral,NaN,NaN,NaN,NaN,NaN
1,2020-01-21,4.0,part time student,flexible and good pay for students,I can't think of any,NaN,NaN,Barista,I have been working at Costa part-time,Current Employee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-18,4.0,"Some benefits, reasonable pay, long hours",Benefits including feel food points and discou...,"Very long hours, too much pressure on staff",NaN,Bath,Assistant Store Manager,I have been working at Costa full-time for mor...,Current Employee,False,positive,neutral,4.0,4.0,3.0,3.0,1.0
3,2020-01-18,4.0,Barista,Fast oases friendly environment,Sometimes not flexyeven though they say they are,NaN,Swansea,Barista,I worked at Costa full-time for more than 8 years,Former Employee,NaN,NaN,NaN,4.0,4.0,4.0,4.0,4.0
4,2020-01-18,4.0,Rewarding but difficult,"Great training, progression even when part tim...","Unstaffed, stressful and incredibly drain",NaN,Ed,Barista,I have been working at Costa part-time for mor...,Current Employee,True,positive,negative,5.0,4.0,4.0,2.0,2.0

## Review overall rating column

In [24]:
clean_table['star'] = clean_table['star'].astype(str).str[0]
clean_table['star'] = clean_table['star'].astype(int)


clean_table['Career Opportunities'] = clean_table['Career Opportunities'].fillna('0')
clean_table['Career Opportunities'] = clean_table['Career Opportunities'].astype(str).str[0]
clean_table['Career Opportunities'] = clean_table['Career Opportunities'].astype(int)

clean_table['Compensation and Benefits'] = clean_table['Compensation and Benefits'].fillna('0')
clean_table['Compensation and Benefits'] = clean_table['Compensation and Benefits'].astype(str).str[0]
clean_table['Compensation and Benefits'] = clean_table['Compensation and Benefits'].astype(int)

clean_table['Culture & Values'] = clean_table['Culture & Values'].fillna('0')
clean_table['Culture & Values'] = clean_table['Culture & Values'].astype(str).str[0]
clean_table['Culture & Values'] = clean_table['Culture & Values'].astype(int)

clean_table['Senior Management'] = clean_table['Senior Management'].fillna('0')
clean_table['Senior Management'] = clean_table['Senior Management'].astype(str).str[0]
clean_table['Senior Management'] = clean_table['Senior Management'].astype(int)

clean_table['Work/Life Balance'] = clean_table['Work/Life Balance'].fillna('0')
clean_table['Work/Life Balance'] = clean_table['Work/Life Balance'].astype(str).str[0]
clean_table['Work/Life Balance'] = clean_table['Work/Life Balance'].astype(int)

In [25]:
def star_grouper(star):

    if star == 0:
        return "NA"
    elif star >= 4:
        return "Positive"
    elif star <= 2:
        return "Negative"
    else:
        return 'Neutral'

In [26]:
clean_table['star_group'] = clean_table['star'].apply(star_grouper)

clean_table['Career Opportunities'] = clean_table['Career Opportunities'].apply(star_grouper)
clean_table['Compensation and Benefits'] = clean_table['Compensation and Benefits'].apply(star_grouper)
clean_table['Culture & Values'] = clean_table['Culture & Values'].apply(star_grouper)
clean_table['Senior Management'] = clean_table['Senior Management'].apply(star_grouper)
clean_table['Work/Life Balance'] = clean_table['Work/Life Balance'].apply(star_grouper)

In [27]:
clean_table.head()

,date,star,subject,pros,cons,advice,location,clean_member_type,tenure,employee_status,recommend,outlook,ceo,Career Opportunities,Compensation and Benefits,Culture & Values,Senior Management,Work/Life Balance,star_group
0,2020-01-10,5,Costa,Amazing coffee that you can sit and enjoy,theres no bad things working here,NaN,Bigg,Barista,I worked at Costa part-time for less than a year,Former Employee,True,neutral,neutral,NA,NA,NA,NA,NA,Positive
1,2020-01-21,4,part time student,flexible and good pay for students,I can't think of any,NaN,NaN,Barista,I have been working at Costa part-time,Current Employee,NaN,NaN,NaN,NA,NA,NA,NA,NA,Positive
2,2020-01-18,4,"Some benefits, reasonable pay, long hours",Benefits including feel food points and discou...,"Very long hours, too much pressure on staff",NaN,Bath,Assistant Store Manager,I have been working at Costa full-time for mor...,Current Employee,False,positive,neutral,Positive,Positive,Neutral,Neutral,Negative,Positive
3,2020-01-18,4,Barista,Fast oases friendly environment,Sometimes not flexyeven though they say they are,NaN,Swansea,Barista,I worked at Costa full-time for more than 8 years,Former Employee,NaN,NaN,NaN,Positive,Positive,Positive,Positive,Positive,Positive
4,2020-01-18,4,Rewarding but difficult,"Great training, progression even when part tim...","Unstaffed, stressful and incredibly drain",NaN,Ed,Barista,I have been working at Costa part-time for mor...,Current Employee,True,positive,negative,Positive,Positive,Positive,Negative,Negative,Positive

In [28]:
clean_table.to_csv('costa_full_dataset.csv', index = False)